<div class="bg-gray-100 font-sans min-h-screen">
  <div class="container mx-auto px-4 py-8">
    <div class="flex items-center justify-between mb-8">
      <h1 class="text-3xl font-bold text-gray-800">
        {{ tituloPagina() }}
      </h1>

      <div class="flex items-center space-x-2">
        <div class="relative">
          <input
            type="text"
            placeholder="Buscar"
            class="w-full pl-10 pr-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-150 ease-in-out"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            />
          </svg>
        </div>
        <button
          class="px-4 py-2 bg-blue-500 text-white font-medium rounded-lg hover:bg-blue-600 transition duration-150 ease-in-out"
        >
          Todas
        </button>
        <span class="text-gray-500 text-sm">
          {{ pedidosExibidos().length }} {{ tituloPagina() | lowercase }}
        </span>
      </div>
    </div>
    <div class="p-2">
      <button
        (click)="toggle()"
        class="relative flex items-center h-8 w-16 rounded-full
                     transition-colors duration-300 ease-in-out cursor-pointer
                     focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        [ngClass]="{'bg-green-500': isToggled(), 'bg-gray-300': !isToggled()}"
      >
        <!-- O círculo interno (a "bolinha") -->
        <span
          class="transform transition-transform duration-300 ease-in-out
                       w-6 h-6 bg-white rounded-full shadow-md"
          [ngClass]="{'translate-x-9': isToggled(), 'translate-x-1': !isToggled()}"
        ></span>
      </button>
    </div>
    <!-- Exibir mensagem se não houver pedidos -->
    <div *ngIf="pedidosExibidos().length === 0" class="bg-white p-4 rounded-lg shadow-sm text-center text-gray-500">
      Nenhum pedido {{ tituloPagina() | lowercase }} encontrado.
    </div>

    <!-- Lista de pedidos -->
    <div class="space-y-4">
      <div
        *ngFor="let pedido of pedidosExibidos()"
        class="bg-white p-6 rounded-lg shadow-sm grid grid-cols-1 md:grid-cols-3 gap-4"
      >
        <div class="md:col-span-2">
          <p class="text-xs text-gray-500 mb-1">{{ formatarData(pedido.pedido.dataCriacao) }}</p>
          <div class="flex items-center space-x-2 mb-2">
            <span class="text-sm text-green-600 font-semibold">Entregue</span>
          </div>
          <div class="flex items-center space-x-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 text-gray-500 flex-shrink-0"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <p class="text-gray-800 text-sm">
              Chegou no dia {{ formatarData(pedido.pedido.dataEntrega) }}
              <span class="font-bold text-blue-500">FULL</span>
            </p>
          </div>
          <div class="mt-4 flex items-start space-x-4">
            <div class="flex-shrink-0 w-20 h-20 bg-gray-200 rounded-lg">
              <!-- Substitua por uma imagem real, se disponível -->
              <img *ngIf="pedido.produto.imagem" [src]="pedido.produto.imagem" alt="{{ pedido.produto.nome }}" class="w-full h-full object-cover rounded-lg" />
            </div>
            <div>
              <p class="text-sm font-medium text-gray-800">{{ pedido.produto.nome }}</p>
              <p class="text-sm text-gray-500 mt-1">{{ pedido.produto.descricao || 'Sem descrição' }}</p>
              <p class="text-sm text-gray-500 mt-1">Quantidade: {{ pedido.quantidade }}</p>
              <p class="text-sm text-gray-500 mt-1">Preço: R$ {{ pedido.produto.preco | number: '1.2-2' }}</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-end justify-between text-sm">
          <p class="text-blue-500 font-medium mb-1">{{ pedido.vendedor.nome }}</p>
          <a
            href="#"
            class="text-blue-500 hover:underline mb-4 transition duration-150 ease-in-out"
          >
            Enviar mensagem
          </a>
          <div class="flex flex-col items-end space-y-2">
            <button
              (click)="verDetalhesPedido(pedido.id)"
              class="px-6 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-150 ease-in-out w-full md:w-auto"
            >
              Ver {{ tituloPagina() | lowercase }}
            </button>
            <button
              class="px-6 py-2 border border-blue-500 text-blue-500 rounded-lg hover:bg-blue-50 transition duration-150 ease-in-out w-full md:w-auto"
            >
              Comprar novamente
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
     <ul class="flex h-8 items-center -space-x-px text-sm">
        <li>
          <button
            (click)="paginaAnterior()"
            [disabled]="page === 0"
            [ngClass]="{'cursor-not-allowed opacity-50': page === 0}"
            class="ms-0 flex h-8 items-center justify-center rounded-s-lg border border-e-0 border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Anterior</span>
            <svg class="h-4 w-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7" />
            </svg>
          </button>
        </li>

        <li *ngFor="let p of paginasVisiveis()">
          <ng-container *ngIf="p !== null; else ellipsis">
            <button
              (click)="irParaPagina(p)"
              [ngClass]="{
                'z-10 bg-primary-50 text-primary-600 dark:bg-gray-700 dark:text-white': page() === p,
                'bg-white text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white': page() !== p
              }"
              class="flex h-8 items-center justify-center border border-gray-300 px-3 leading-tight">
              {{ p + 1 }}
            </button>
          </ng-container>
          <ng-template #ellipsis>
            <span class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400">...</span>
          </ng-template>
        </li>

        <li>
          <button
            (click)="proximaPagina()"
            [disabled]="page() === totalPaginas() - 1"
            [ngClass]="{'cursor-not-allowed opacity-50': page() === totalPaginas() - 1}"
            class="flex h-8 items-center justify-center rounded-e-lg border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Próxima</span>
            <svg class="h-4 w-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
            </svg>
          </button>
        </li>
      </ul>
</div>